<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Favorite books</title>
    </head>
    <body>
        <div>
            <h1><a href="/">My favorite books</a></h1>
        </div>

        <div>
            <h2><a target="_blank" href="https://en.wikipedia.org/wiki/The_Green_Mile_(novel)">"The Green mile" by Stephen King</a></h2>
            <p>The Green Mile is a 1996 serial novel by American writer Stephen King.
               It tells the story of death row supervisor Paul Edgecombe's encounter with John Coffey, an unusual inmate who displays inexplicable healing and empathetic abilities.
               The serial novel was originally released in six volumes before being republished as a single-volume work. The book is an example of magical realism.</p>
            <p>published: 28.08.2018, 10:06</p>
        </div>

        <div>
            <h2><a target="_blank" href="https://en.wikipedia.org/wiki/Buddenbrooks">"Buddenbrooks" by Thomas Mann</a></h2>
            <p>Buddenbrooks is a 1901 novel by Thomas Mann, chronicling the decline of a wealthy north German merchant family over the course of four generations,
               incidentally portraying the manner of life and mores of the Hanseatic bourgeoisie in the years from 1835 to 1877.
               Mann drew deeply from the history of his own family, the Mann family of Lübeck, and their milieu.</p>
            <p>published: 28.08.2018, 10:10</p>
        </div>
    </body>
</html>